/*
============
Fonts
===========
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/*
=============
Variables
============= 
*/
:root{
    --color-primary: #678e3e;
    --color-primary-light: #beed8c;
    --color-gray-dark: #102842;
    --color-gray-light: #617d98;
    --color-gray-lighter: #f1f5f8;
    --color-white:#fff;
    --color-yellow: #e9b949;

    --font-family-primary:"Catamaran", sans-serif;
    --font-family-secondary: "Grand Hotel", cursive;

    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem
}

/* 
=================================
elements reset and global styling
=================================
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    background: var(--color-white);
    color: var(--color-gray-dark);
    line-height: 1.5;
    font-size: 0.875rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

p{
    margin-bottom: 1.25rem;
}
h1, h2, h3, h4 {
    text-transform: capitalize;
    line-height: 1.25;
    letter-spacing: var(--spacing);
    margin-bottom: 0.75rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
    h1{
        font-size: 4rem;
    }
    
    h2{
        font-size: 3rem;
    }
    
    h3{
        font-size: 2rem;
    }
    
    h4{
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        line-height: 1;
    }
}

.btn {
    text-transform: uppercase;
    background: var(--color-primary);
    color: var(--color-white);
    padding: .375rem .75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: var(--transition);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    font-size: 0.875rem;
}

.btn:hover {
    color: var(--color-primary);
    background-color: var(--color-primary-light);
}

.clearfix::after,
.clearfix::before{
    content: "";
    clear: both;
    display: table;
}

.section-title h3 {
    font-family: var(--font-family-secondary);
    color: var(--color-primary);
}

.section-title {
    margin-bottom: 2rem;
}

.section-center {
    padding: 4rem 0;
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vh;
        padding: 2rem 1rem;
    }
}
/*
=============
header
==============
*/

.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,.6)),url('../images/main-bcg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative; 

    /* animation */
    overflow: hidden;
}

.banner {
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner h2 {
    font-family: var(--font-family-secondary);
    color: var(--color-primary);
    /* animation */
}

.banner h1 {
    text-transform: uppercase;
    color: var(--color-white);
    margin-top: 1.25rem;
    margin-bottom: 2rem;
}

.banner-btn {
    outline: 0.125rem solid var(--color-primary);
    outline-offset: 00.25rem;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
}

.content-divider{
    height: .5rem;
    background: linear-gradient(to left, var(--color-primary), var(--color-yellow), var(--color-primary));
}

/*
=============
skills
==============
*/

.skills{
    background: var(--color-gray-lighter);
}

.skill {
    padding: 2.5rem 0;
    text-align: center;
    transition: var(--transition);
}

.skill-icon {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    transition: var(--transition);
    display: inline-block;
    color: var(--color-primary);
}

.skill-text {
    color: var(--color-gray-light);
    max-width: 17rem;
    margin: 0 auto;
}

.skill:hover {
    background: var(--color-white);
    box-shadow: 0 2px var(--color-primary);
}

.skill:hover .skill-icon {
    transform: translateY(-5px);
}


@media screen and (min-width:576px){
    .skill{
        float: left;
        width: 50%;
    }
}

@media screen and (min-width:1200px){
    .skill{
        width: 25%;
    }
}


/*
===================
About
===================
*/

.about-img,
.about-info {
    padding: 2rem 0;
}

.about-picture-container {
    background: var(--color-primary);
    border: .5rem solid var(--color-primary);
    max-width: 30rem;
    overflow: hidden;
}

.about-picture {
    transition: var(--transition);
}

.about-picture-container:hover .about-picture {
    opacity: 0.5;
    transform: scale(1.2);
}

.about-text {
    max-width: 26rem;
    color: var(--color-gray-dark);
}

@media screen and (min-width: 992px){
    .about-img,
    .about-info {
        float: left;
        width: 50%;
    }

    .about-info{
        padding: 2rem 2rem;
    }
}


/*
===================
Products
===================
*/

.products {
    background: var(--color-gray-lighter);
}

.product{
    margin-bottom: 2rem;
}
.products article {
    padding: 2rem 0;
}

.products-text {
    color: var(--color-gray-dark);
    max-width: 26rem;
}

.product-img {
    border-radius: var(--radius);
    margin-bottom: 2rem;
    height: 17rem;
    object-fit: cover;
}

.product-price {
    color: var(--color-primary);
}

@media screen and (min-width:768px) {
    .product {
        float:left;
        width: 50%;
        padding-right: 2rem;
    }
}

@media screen and (min-width:992px) {
    .product {
        width: 33.3%;
    }
}

@media screen and (min-width:1200px) {
    .products-info {
        float: left;
        width: 30%;
    }

    .products-inventory {
        float: left;
        width: 70%;
    }

    .product {
        margin-bottom: 0;
        padding-right: 1rem;
    }
}